*[b-sgruh5wkmu] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container[b-sgruh5wkmu] {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.footer[b-sgruh5wkmu] {
  width: 100%;
  line-height: 50px;
  background-color: rgb(77, 77, 77);
  color: rgb(255, 235, 235);
  padding-left: 2%;
  padding-right: 2%;
  text-align: right;
}

.githubhref[b-sgruh5wkmu] {
  color: rgb(255, 235, 235);
  font-weight: 400;
  font-size: 11pt;
  text-decoration: none;
}

.githubhref:hover[b-sgruh5wkmu] {
  text-decoration: underline;
}

.header[b-sgruh5wkmu] {
  padding: 3pt;
  padding-left: 1%;
  /* background: rgb(77, 77, 77); */
  background: radial-gradient(circle, rgba(63, 63, 63, 1) 0%, rgba(63, 63, 63, 1) 67%, rgba(77, 77, 77, 1) 100%);
}

.body-div[b-sgruh5wkmu] {
  border: 2pt solid rgb(105, 105, 105);
}