<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bridge Scenarios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BridgeScenarios.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="page-container">
        <header class="header">
             <a asp-page="/Index" 
                style="
                color: rgb(255, 235, 235);
                font-size: 30pt;
                text-decoration: none;
                font-weight: 900;
                ">
                <img
                    src="~/assets/favicon.png"  
                    style="width: 35pt; padding-bottom: 4pt"
                />
                Bridge Scenarios
            </a> 
        </header>
            
        <div class="body-div">
            @RenderBody()
        </div>

        <footer class="footer">
            <a class="githubhref" href="https://github.com/monty930/BridgeScenarios">
                <div>
                    monty930/BridgeScenarios
                    <img
                        id="gitlog-img" 
                        src="~/assets/githublogo.png"  
                        style="width: 25pt; padding-left: 5pt"
                    />
                </div>
            </a>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>