.deal-in-set-buttons-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% - calc(min(calc(min(100%, 20vw)), 500px))) calc(calc(min(calc(min(100%, 20vw)), 500px) / 2)) calc(calc(min(calc(min(100%, 20vw)), 500px) / 2));
    padding: 10pt 0 3pt 0;
}

.dealset-img {
    width: calc(min(calc(max((var(--main-font) * 2), 5vh)), 3vw));
}

.dealset-img-entry {
    padding-bottom: 2pt;
    width: calc(1.1 * var(--main-font));
}

.dealset-upper-row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.dealset-upper-row-entry {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
}

.dealset-lower-row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
}

.deaslset-button-container {
    padding: calc(max((var(--main-font) / 5), 1vh)) 2pt 0 2pt;
}
