.right-panel {
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    height: 100%;
    width: 100%;
}

.right-view-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max(5vh, calc(3 * var(--main-font))) auto;
    width: 100%;
    height: 100%;
    padding: 2%;
}

.message-and-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-message {
    color : var(--main-font-color);
    font-size: min(max(calc(1.2 * var(--main-font)), 2vh), 2vw);
    font-weight: bold;
    padding-bottom: 10%;
}

/* ---------------- grid rows ---------------- */

.grid-rows {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% calc(min(30%,
    calc(4.5 * min(calc(max(calc(1.6 * var(--main-font)), 5vh)), 130px))
    )) calc(65% - calc(min(30%,
    calc(4.5 * min(calc(max(calc(1.6 * var(--main-font)), 5vh)), 130px))
    )));
}

.hands {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: calc(var(--main-font));
    color: var(--main-font-color);
    font-weight: 800;
    letter-spacing: 0.08em;
}

.suit {
    width: 100%;
    text-align: left;
    display: flex;
    place-items: center;
    height: calc(min(calc(max(calc(1.6 * var(--main-font)), 5vh)), 130px));
    font-size: calc(min(calc(max(calc(1 * var(--main-font)), 3.5vh)), 90px));
    font-weight: 530;
}

.suit-img {
    width: calc(min(calc(max(calc(1.5 * var(--main-font)), 4.2vh)), 90px));
    display: block;
    clear: both;
    padding-right: 5px;
    padding-bottom: calc(max(calc(0.1 * var(--main-font)), 0.4vh));
}

.suit-char {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    background-size: cover;
}

.spades-char {
    background-image: url("../../assets/blue.png");
}

.hearts-char {
    background-image: url("../../assets/red.png");
}

.diams-char {
    background-image: url("../../assets/orange.png");
}

.clubs-char {
    background-image: url("../../assets/green.png");
}

.deal-number-info {
    color: var(--main-font-color);
    width: 100%;
    height: 100%;
    font-weight: var(--right-side-font-bold);
    display: flex;
    padding: 5%;
    font-size: var(--right-side-font-main);
}

.num-of-tries {
    color: var(--main-font-color);
    width: 100%;
    height: 100%;
    font-weight: var(--right-side-font-bold);
    display: flex;
    align-items: flex-end;
    padding: calc(max(var(--main-font), 3vh) / 2);
    font-size: var(--right-side-font-main);
}

/* ------------------ n-row ------------------ */

.row-n {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 23% auto 23%;
    grid-template-rows: auto;
}

.row-n.has-handsuits {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 37% 40% auto;
    grid-template-rows: auto;
}

.row-n.has-handsuits > div:nth-child(2) {
    padding: calc(var(--main-font) / 2);
    display: flex;
    align-items: flex-end;
    text-align: left;
    font-size: calc(var(--main-font));
}

.row-n > div:nth-child(2) {
    padding: calc(max(calc(var(--main-font) / 2), 1.5vh));
    display: flex;
    align-items: center;
    text-align: center;
    font-size: calc(0.3em + min(3vh, 1vw));
}

.hand-north-align {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-n > div:nth-child(3) {
    padding: 10% 7% 10% 10%;
    display: flex;
    flex-direction: column;
    color: var(--main-font-color);
    font-weight: 700;
    text-align: left;
}

.row-n > .hands > div:nth-child(1) {
    height: 100%;
}


/* ------------------ mid-row ---------------- */

.row-mid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 38% auto 38%;
    grid-template-rows: auto;
    place-items: start;
    align-items: flex-start;
}

.align-hand-west {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

.hand-west {
    display: flex;
    padding-right: calc(max(calc(var(--main-font) / 2), 1.5vh));
    text-align: left;
    place-items: center;
}

.west-balanced {
    padding-right: calc(max(calc(var(--main-font) / 1), 2vh));
}

.hand-east {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left;
    place-items: center;
    padding: calc(max(calc(var(--main-font) / 2), 1vh));
    padding-top: calc(var(--main-font) / 10);
}

.row-mid > div:nth-child(1) {
    padding-top: 3pt;
}

.row-mid .hands > div:nth-child(1) {
    padding-top: 5pt;
}

.row-mid-deal-entry {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1% auto 1%;
    grid-template-rows: auto;
}

/* ------------------- s-row ----------------- */

.row-s {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 37% 27% auto;
    grid-template-rows: auto;
}

.hand-south {
    padding: calc(min(calc(max(calc(var(--main-font) / 2), 1vh)), 50px));
    display: flex;
    text-align: left;
}
