.right-panel {
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    height: 100%;
    width: 100%;
}

.right-view-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max(5vh, calc(3 * var(--main-font))) auto; /* TO-BE-CHECKED */
    width: 100%;
    height: 100%;
    padding: 2%;
}

.right-view-buttons {
    width: 100%;
    height: 100%;
    display: flex;
}

.right-view-buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5pt;
}

.generate-button-container {
    width: 50%;
    height: 100%;
    display: flex;
    font-size: min(max(calc(1.2 * var(--main-font)), 2vh), 2vw);
}

.message-and-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-message {
    color : var(--main-font-color);
    font-size: min(max(calc(1.2 * var(--main-font)), 2vh), 2vw);
    font-weight: bold;
    padding-bottom: 10%;
}

/* ---------------- grid rows ---------------- */

.grid-rows {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 30% auto;
}

.suit-img {
    width: 30px;
    display: block;
    clear: both;
    padding-right: 5px;
    padding-bottom: 3px;
}

.hands {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: calc(var(--main-font));
    color: var(--main-font-color);
    font-weight: 800;
}

.suit {
    width: 100%;
    text-align: left;
    display: flex;
    place-items: flex-end;
}

.deal-number-info {
    color: var(--main-font-color);
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    padding: 5%
}

.num-of-tries {
    color: var(--main-font-color);
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding: 5%
}

/* ------------------ n-row ------------------ */

.row-n {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 23% auto 23%;
    grid-template-rows: auto;
}

.row-n.has-handsuits {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 37% 40% auto;
    grid-template-rows: auto;
}

.row-n.has-handsuits > div:nth-child(2) {
    padding: 5%;
    display: flex;
    align-items: flex-end;
    text-align: left;
    font-size: calc(var(--main-font));
}

.row-n > div:nth-child(2) {
    padding: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: calc(0.3em + min(3vh, 1vw));
}

.row-n > div:nth-child(3) {
    padding: 10% 7% 10% 10%;
    display: flex;
    flex-direction: column;
    color: var(--main-font-color);
    font-weight: 700;
    text-align: left;
}

.row-n > .hands > div:nth-child(1) {
    height: 100%;
}


/* ------------------ mid-row ---------------- */

.row-mid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 38% auto 38%;
    grid-template-rows: auto;
    place-items: start;
    align-items: flex-start;
}

.align-hand-west {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

.hand-west {
    display: flex;
    padding-right: 15pt;
    text-align: left;
    place-items: center;
}

.row-mid > div:nth-child(3) {
    width: 100%;
    height: 100%;
    padding-left: 10pt;
    display: flex;
    padding-right: 7pt;
    text-align: left;
    place-items: center;
    padding-top: 3pt;
}

.row-mid > div:nth-child(1) {
    padding-top: 3pt;
}

.row-mid .hands > div:nth-child(1) {
    padding-top: 5pt;
}

.row-mid-deal-entry {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1% auto 1%;
    grid-template-rows: auto;
}

/* ------------------- s-row ----------------- */

.row-s {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 37% 27% auto;
    grid-template-rows: auto;
}

.row-s > div:nth-child(2) {
    padding: 5%;
    display: flex;
    text-align: left;
}
