<div class="grid-snwe">
    <div></div>
    <div>N</div>
    <div></div>
    <div>W</div>
    <div>
        <div id="spinner" style="display:none;">
            <div class="loader">
                <img id="loading-img" src="~/assets/loading-simp.png"
                     alt="Randomly Oriented Image"/>
                <script type="text/javascript" src="/js/spinner.js"></script>
            </div>
        </div>
    </div>
    <div>E</div>
    <div></div>
    <div>S</div>
    <div></div>
</div>

