@* Single hand *@
@model string
@{
    string[] suits = Model.Split(".");
}

<div class="suit">
    <img id="suit-img" src="~/assets/spade.png"/>
    @Html.Raw(suits[0])<br>
</div>
<div class="suit">
    <img id="suit-img" src="~/assets/heart.png"/>
    @Html.Raw(suits[1])<br>
</div>
<div class="suit">
    <img id="suit-img" src="~/assets/diamond.png"/>
    <div> </div>
    @Html.Raw(suits[2])<br>
</div>
<div class="suit">
    <img id="suit-img" src="~/assets/club.png"/>
    @Html.Raw(suits[3])<br>
</div>