<link rel="stylesheet" href="~/css/scenarios/leftside/leftsideview.css"/>

@model BridgeScenarios.Models.ViewModels.IndexViewModel

<div id="left-side-height" class="left-side-padding">
    <div id="left-side-container" class="left-side-container">
        <div id="left-side-title" class="left-side-title">
            Enter contraints:
        </div>
        <div id="input-dynamic" class="left-container-inner-content">
            @{
                await Html.RenderPartialAsync("LeftSide/InputView", Model);
            }
        </div>
        <div id="lightbulb-dynamic" class="left-container-inner-content hidden">
            @{
                await Html.RenderPartialAsync("LeftSide/Lightbulb", Model);
            }
        </div>
        <div id="settings-dynamic" class="left-container-inner-content hidden">
            @{
                await Html.RenderPartialAsync("LeftSide/Settings", Model);
            }
        </div>
        <div id="saveconstraints-dynamic" class="left-container-inner-content hidden">
            @{
                await Html.RenderPartialAsync("LeftSide/SaveContentView", Model);
            }
        </div>
        <div id="left-container-switches" class="left-container-switches">
            @{
                await Html.RenderPartialAsync("LeftSide/TabSwitches", Model);
            }
        </div>
    </div>
    <div class="toggle-view-container">
        <div class="toggle-view-container-left">
            <button id="toggle-view"
                    class="toggle-button toggle-button-left"
                    onclick="toggleView()">
                SHOW DEAL SET
            </button>
        </div>
    </div>
</div>