@model BridgeScenarios.Models.ViewModels.IndexViewModel

<div class="container-for-input">
    <div class="left-container">
        <div class="dynamic-left">
            <div id="input-dynamic">
                @{
                    await Html.RenderPartialAsync("LeftSide/InputView", Model);
                }
            </div>
            <div id="lightbulb-dynamic" class="hidden">
                @{
                    await Html.RenderPartialAsync("LeftSide/Lightbulb", Model);
                }
            </div>
            <div id="settings-dynamic" class="hidden">
                @{
                    await Html.RenderPartialAsync("LeftSide/Settings", Model);
                }
            </div>
        </div>
        <div class="left-switches">
            @{
                await Html.RenderPartialAsync("LeftSide/TabSwitches", Model);
            }
        </div>
    </div>
    <div></div>
</div>
