<link rel="stylesheet" href="~/css/scenarios/rightside/rightsideview.css"/>
<link rel="stylesheet" href="~/css/scenarios/rightside/compass.css"/>
@using BridgeScenarios.Models
@model BridgeScenarios.Models.ViewModels.IndexViewModel

<div class="right-panel" id="dynamic-content">
    @if (Model.RightDisplay == RightViewDisplay.Error)
    {
        await Html.RenderPartialAsync("RightSide/ErrorView", Model);
    }
    else if (Model.RightDisplay == RightViewDisplay.Example)
    {
        await Html.RenderPartialAsync("RightSide/ExampleView", Model);
    }
    else if (Model.RightDisplay == RightViewDisplay.Entry)
    {
        await Html.RenderPartialAsync("RightSide/EntryView", Model);
    }
    else if (Model.RightDisplay == RightViewDisplay.DealSet)
    {
        await Html.RenderPartialAsync("RightSide/DealSetView", Model);
    }
    else if (Model.RightDisplay == RightViewDisplay.DealSetEntry)
    {
        await Html.RenderPartialAsync("RightSide/DealSetEntryView", Model);
    }
    else
    {
        Console.WriteLine("ERROR: RightViewDisplay is not recognized");
    }
</div>