@using BridgeScenarios.Models
@model BridgeScenarios.Models.ViewModels.IndexViewModel

@* The dynamic-content is utilized when toggling error-back button *@
<div class="right-panel" id="dynamic-content">
    @if (Model.RightDisplay == RightViewDisplay.Error)
    {
        await Html.RenderPartialAsync("RightSide/ErrorView", Model);
    }
    else if (Model.RightDisplay == RightViewDisplay.Example)
    {
        await Html.RenderPartialAsync("RightSide/ExampleView", Model);
    }
    else if (Model.RightDisplay == RightViewDisplay.Entry)
    {
        await Html.RenderPartialAsync("RightSide/EntryView", Model);
    }
    else if (Model.RightDisplay == RightViewDisplay.DealSet)
    {
        await Html.RenderPartialAsync("RightSide/DealSetView", Model);
        // hidden deal set content
        <div id="dealSetContent" class="hidden" deal-set-data="@Model.ScriptOutputInfo.Output" which-deal=@Model.ScriptOutputInfo.DealNumber></div>
    }
    else
    {
        Console.WriteLine("ERROR: RightViewDisplay is not recognized");
    }
</div>
