.settings-container {
    line-height: calc(3 * var(--input-line-height));
    display: grid;
    grid-template-columns: 50.61% auto;
    grid-template-rows: auto;
    gap: 15px;
    color: var(--main-font-color);
    font-family: var(--bs-body-font-family);
    padding: 15px 20px 20px 20px;
}

.settings-names, .settings-option-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settings-names {
    color: var(--main-font-color);
    padding-right: 10px;
}

.settings-option-column input[type="number"],
.settings-option-column select {
    background-color: rgb(255, 245, 245);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--main-font-color);
    display: inline-block;
}

.settings-option-column input[type="number"],
.settings-option-column select {
    background-color: var(--main-background-color);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--main-font-color);
    height: 40px;
}

.settings-option-column input[type="number"]:focus,
.settings-option-column select:focus {
    background-color: var(--main-background-color);
    outline: none;
}

.settings-option-column input[type="number"]:hover,
.settings-option-column select:hover {
    background-color: var(--main-background-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.number-spinner {
    display: flex;
    align-items: center;
}

.number-spinner-btn {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    border: none;
    font-size: 14px;
    cursor: pointer;
    height: 20px;
    display: flex;
    padding: 0;
    width: 20px;
}

.settings-option-column input[type="number"] {
    border-radius: 0;
}

.input-number-arrows {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 40px;
    padding: 0;
}

.input-arrow-up-img, .input-arrow-down-img {
    height: 12px;
}

.up-button-container, .down-button-container {
    display: flex;
    align-items: center;
    height: 20px;
    width: 15px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.up-button-container {
    padding: 2px 0 0 0;
}

.down-button-container {
    padding: 0 0 2px 0;
}