.settings-container {
    background-color: var(--line-numbers-background-color);
    color: var(--main-font-color);
    font-family: var(--bs-body-font-family);
    overflow: auto;
}

.settings-inner-container {
    height: calc(min(calc(70vh - 5 * var(--main-font)), 2600px));
    padding: 3% 5% 5%;
}

.one-setting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: calc(4 * var(--select-box-height) / 3);
    font-size: var(--code-font-size);
}

.input-number,
.settings-select {
    background-color: var(--main-background-color);
    border-radius: calc(var(--select-box-height) / 10);
    padding: calc(var(--select-box-height) / 5);
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: calc(2 * var(--select-box-height) / 5);
    color: var(--main-font-color);
    height: var(--select-box-height);
    display: inline-block;
}

.input-number {
    border-radius: 0;
    -moz-appearance: textfield;
}

.input-number:focus,
.settings-select:focus {
    background-color: var(--main-background-color);
    outline: none;
}

.input-number:hover,
.settings-select:hover {
    background-color: var(--main-background-color);
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-spinner {
    display: flex;
    align-items: center;
}

.number-spinner-btn {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    border: none;
    /*font-size: calc(3 * var(--select-box-height) / 8);*/
    cursor: pointer;
    height: calc(var(--select-box-height) / 2);
    display: flex;
    padding: 0;
    width: calc(var(--select-box-height) / 2);
}

.settings-break {
    height: calc(var(--select-box-height) / 2);
}

/* -- decreasing and increasing the number input -- */

.input-number-arrows {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: var(--select-box-height);
    padding: 0;
}

.input-arrow-up-img, .input-arrow-down-img {
    height: calc(3 * var(--select-box-height) / 10);
}

.up-button-container, .down-button-container {
    display: flex;
    align-items: center;
    height: calc(var(--select-box-height) / 2);
    width: calc(3 * var(--select-box-height) / 8);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.up-button-container {
    padding: calc(var(--select-box-height) / 20) 0 0 0;
}

.down-button-container {
    padding: 0 0 calc(var(--select-box-height) / 20) 0;
}
