@model BridgeScenarios.Models.DbModels.User

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login | Multi 2 Diamonds</title>
    <link rel="stylesheet" href="~/css/login.css"/>
</head>
<body>

<div class="site-container">
	<div class="form-container">
    	<div class="signup">
    		<h2 class="form-title" id="signup"><span>or</span>Log in</h2>
    		<div class="form-holder">
			    <input type="text" class="input" placeholder="Username" asp-for="Username" id="login-username"/>
			    <input type="password" class="input" placeholder="Password" asp-for="Password" id="login-password"/>
    		</div>
    		<button class="submit-btn">Log in</button>
    	</div>
    	<div class="login slide-up">
    		<div class="center">
    			<h2 class="form-title" id="login"><span>or</span>Sign up</h2>
    			<div class="form-holder">
    				
				    <input type="text" class="input" placeholder="Username" asp-for="Username" id="signup-username"/>
				    <input type="password" class="input" placeholder="Password" asp-for="Password" id="signup-password"/>
				    <input type="email" class="input" placeholder="Email" asp-for="Email" id="signup-email"/>
    			</div>
    			<button class="submit-btn">Sign up</button>
    		</div>
    	</div>
    </div>
</div>




</body>

<script type="text/ecmascript" src="~/js/login.js"></script>
</html>