.ProfilePageOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ProfilePageInner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    border: solid 3px var(--main-font-color);
    border-radius: calc(3 * var(--wunit));
}

.ProfileCard {
    display: flex;
    flex-direction: row;
    gap: var(--main-padding);
    padding: var(--main-padding);
    font-size: var(--main-font-size);
    font-weight: bold;
}

.ProfilePicture {
    height: calc(20 * var(--hunit));
    border: solid 3px var(--main-font-color);
    border-radius: calc(min(3 * var(--wunit), 3 * var(--hunit), 40px));
    overflow: hidden;
}

.ProfileImg {
    height: 100%;
}

.ProfileInfo {
    display: flex;
    flex-direction: column;
    gap: var(--main-padding);
    padding: var(--main-padding);
    line-height: var(--line-height);
}

.UserName {
    font-size: calc(2 * var(--main-font-size));
}

.ProfileButtonsOuter {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 100%;
    width: 100%;
    opacity: 100%;
}

.ProfileButtonsInner {
    display: flex;
    padding: var(--main-padding);
    flex-direction: column;
    gap: var(--main-padding);
    width: 50%;
}
