.WelcomePage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: calc(100% - 2 * var(--main-padding));
    width: calc(100% - 2 * var(--main-padding-w));
    gap: var(--main-padding);
}

.WelcomePageNavigButton {
    height: calc(5 * var(--hunit));
    width: calc(55 * var(--wunit));
    padding: 0 var(--main-padding-w);
}
