@model BridgeScenarios.Models.ViewModels.IndexViewModel

<div class="align">
    <div class="left-side-title">
        Enter constraints: <div class="div-test"></div> @* TO-BE-DELETED *@
    </div>
    <div class="left-side-content">
        <div class="line-numbers" id="lineNumbers"></div>
        <div class="form-container">
            <textarea
                spellcheck="false"
                placeholder="See README for constraints examples."
                id="codeInput"
                oninput="updateLineNumbers()"
                class="input-textarea"></textarea>
        </div>
    </div>
</div>
