@model BridgeScenarios.Models.ViewModels.IndexViewModel

<div class="align">
    <div class="left-side-title">
        Enter constraints:
    </div>
    <div class="left-side-content">
        <div class="line-numbers" id="lineNumbers"></div>
        <div class="form-container">
            <form id="FormGenSc" class="input-form" method="post">
                <textarea 
                    spellcheck="false" 
                    asp-for="TextInput" 
                    placeholder="See README for constraints examples." 
                    id="codeInput" 
                    oninput="updateLineNumbers()"
                    class="input-textarea">
                </textarea>
                <input type="hidden" name="action" id="actionField">
                <input class="hidden" type="submit" id="formSubmitGenerateExample" asp-action="GenerateExample">
                <input class="hidden" type="submit" id="formSubmitSave" asp-action="Save">
            </form>
        </div>
        @* <form id="FormGenSc" method="post"> *@
        @*     <div class="editor-container"> *@
        @*         <div class="line-numbers" id="lineNumbers"></div> *@
        @*         <textarea spellcheck="false" asp-for="TextInput" *@
        @*                                         placeholder="See README for constraints examples." id="codeInput" *@
        @*                                         oninput="updateLineNumbers()"> *@
        @*                                     </textarea> *@
        @*         <input type="hidden" name="action" id="actionField"> *@
        @*         <input class="hidden" type="submit" id="formSubmitGenerateExample" asp-action="GenerateExample"> *@
        @*         <input class="hidden" type="submit" id="formSubmitSave" asp-action="Save"> *@
        @*     </div> *@
        @* </form> *@
    </div>
</div>
