@model BridgeScenarios.Models.ViewModels.IndexViewModel

<div class="editor-container">
    <div class="editor">
        @* <div class="lines" id="lines"></div> *@
        <div class="lines-to-do">
        </div>
        <textarea 
            id="codeInput" 
            spellcheck="false"
            placeholder="See README for constraints examples."
            class="input-textarea"
        ></textarea>
    </div>
</div>
