@model BridgeScenarios.Models.ViewModels.IndexViewModel

<div class="editor-container">
    <div class="editor">
        @* <div class="lines" id="lines"></div> *@
        <div class="lines-to-do">
            I<br/>W<br/>I<br/>L<br/>D<br/>O<br/>I<br/>T<br/>
            O<br/>N<br/>E<br/>D<br/>A<br/>Y
        </div>
        <textarea 
            id="codeInput" 
            spellcheck="false"
            placeholder="See README for constraints examples."
            @* oninput="updateLineNumbers()" *@
            class="input-textarea"
        ></textarea>
    </div>
</div>
