<link rel="stylesheet" href="~/css/leftside/lightbulb.css"/>

<div class="lightbulb-container">
    TODO:<br/>
    line numbers<br/>
    settings better layout<br/>
    settings scaling<br/>
    left padding here<br/>
    the tab and input text and settings should remain on reload<br/>
    dialog box css scaling<br/>
    <br/>
    others:<br/>
    log out button<br/>
</div>
