<div id="lightbulb-content">
    <div class="left-side-title">
        Examples
    </div>
    <div class="editor-container">
        <div class="line-numbers"></div>
        <div class="left-side-container-inner">
            Tu jakieś readme<br>
            <pre>
    final = E.spades > 7
                </pre>
        </div>
    </div>
</div>

