<link rel="stylesheet" href="~/css/leftside/lightbulb.css"/>

<div class="lightbulb-container">
    TODO (in this order):<br/>
    the tab and input text and settings should remain on reload<br/>
    scaling of settings select arrow<br/>
    line numbers<br/>
    left padding here<br/>
    <br/>
    others:<br/>
    log out button<br/>
</div>
