<link rel="stylesheet" href="~/css/scenarios/leftside/lightbulb.css"/>

<div class="lightbulb-container">
    TODO:<br/>
    - login page scaling<br/>
    - the tab and input text and settings should remain on reload<br/>
    - line numbers<br/>
    - left padding here<br/>
    - if dealer/vul is set to 'matching' the other one should be 'matching' as well<br/>
    <br/>
    - others:<br/>
    - log out button<br/>
    - save tab button<br/>
    - profile page with saved deals<br/>
    <br/>
</div>
