<div class="align">
    <div class="left-side-title">
        Examples
    </div>
    <div class="left-side-content">
        <div class="line-numbers"></div>
        <div class="form-container">
            <div class="inner-container readme-container">
                Tu jakieś readme<br>
                <pre>
final = E.spades > 7
                </pre>
            </div>
        </div>
    </div>
</div>
