<link rel="stylesheet" href="~/css/scenarios/leftside/saveview.css"/>

<div class="left-side-black-container">
    <div class="left-side-inner-container">
        <span>Save deal set:</span>
        <div class="save-couple">
            <textarea id="dealSetName" placeholder="deal set name" class="saving-textarea"></textarea>
            <button id="addDealSetButton" class="save-content-button">save</button>
        </div>
        <span>Save constraints:</span>
        <div class="save-couple">
            <textarea id="constraintName" placeholder="constraints name" class="saving-textarea"></textarea>
            <button id="addConstraint" class="save-content-button">save</button>
        </div>
        <span class="save-message"></span>
    </div>
</div>

<script type="text/javascript" src="/js/scenarios/savecontent.js"></script>