<div class="left-side-black-container">
    <div class="left-side-inner-container">
        <textarea id="dealSetName">DealSetNameGoesHere</textarea>
        <button id="addDealSetButton">Add DealSet</button>
        <textarea id="constraintName">ConstraintName</textarea>
        <button id="addConstraint">Add DealSet</button>
    </div>
</div>

<script>
document.getElementById("addDealSetButton").addEventListener("click", function() {
    let constraints = document.getElementById("codeInput").value;
    let dealSetName = document.getElementById("dealSetName").value;

    fetch('/Profile/AddDealSet', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'RequestVerificationToken': document.getElementsByName("__RequestVerificationToken")[0].value
        },
        body: JSON.stringify({ name: dealSetName, content: constraints })
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
    })
    .catch((error) => {
        console.error('Error:', error);
    });
});

document.getElementById("addConstraint").addEventListener("click", function() {
    let constraints = document.getElementById("codeInput").value;
    let constraintName = document.getElementById("constraintName").value;

    fetch('/Profile/AddConstraint', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'RequestVerificationToken': document.getElementsByName("__RequestVerificationToken")[0].value
        },
        body: JSON.stringify({ name: constraintName, content: constraints })
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
    })
    .catch((error) => {
        console.error('Error:', error);
    });
});
</script>