<div class="left-switches">
    <div></div>
    <div class="button-cont">
        <button id="inputButton" class="button-all button-tab button-input button-active-tab">
            <img id="tabs-input" class="tabs-img" src="~/assets/input.png"/>
        </button>
    </div>
    <div class="button-cont">
        <button id="lightbulbButton" class="button-all button-tab button-readme">
            <img id="tabs-lightbulb" class="tabs-img" src="~/assets/lightbulb.png"/>
        </button>
    </div>
    <div class="button-cont">
        <button id="saveConstraintButton" class="button-all button-tab button-saveconstraint">
            <img id="tabs-save" class="tabs-img" src="~/assets/save.png"/>
        </button>
    </div>
    <div class="button-cont">
        <button id="settingsButton" class="button-all button-tab button-settings">
            <img id="tabs-settings" class="tabs-img" src="~/assets/settings.png"/>
        </button>
    </div>
</div>