<div></div>
<div class="button-cont">
    <button id="inputButton" class="button-input button-active-tab">
        <img id="tabs-input" class="tabs-img" src="~/assets/input.png"/>
    </button>
</div>
<div class="button-cont">
    <button id="lightbulbButton" class="button-readme">
        <img id="tabs-lightbulb" class="tabs-img" src="~/assets/lightbulb.png"/>
    </button>
</div>
<div class="button-cont">
    <button id="settingsButton" class="button-settings">
        <img id="tabs-settings" class="tabs-img" src="~/assets/settings.png"/>
    </button>
</div>