
@model BridgeScenarios.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/log.css" />
</head>

<div class="page-layout">
    <div class="left-panel">
        <div class="container-for-input">
            <div class="left-container">
                <div class="input-section" id="tab-dynamics">
                    <h4>Enter constraints:</h4>
                    <form id="FormGenSc" method="post">
                        <div class="editor-container">
                            <div class="line-numbers" id="lineNumbers"></div>
                            <textarea spellcheck="false" asp-for="TextInput"
                                placeholder="See README for constraints examples." id="codeInput"
                                oninput="updateLineNumbers()">
                            </textarea>
                            <input type="hidden" name="action" id="actionField">
                            <input class="hidden-submit" type="submit" id="formSubmitPlay" asp-action="Play">
                            <input class="hidden-submit" type="submit" id="formSubmitSave" asp-action="Save">
                        </div>
                    </form>
                </div>
                <div class="left-switches">
                    <div></div>
                    <div class="button-cont">
                        <button id="inputButton" class="button-input button-active-tab">
                            <img id="tabs-img" src="~/assets/input.png" />
                        </button>
                    </div>
                    <div class="button-cont">
                        <button id="lightbulbButton" class="button-readme">
                            <img id="tabs-img" src="~/assets/lightbulb.png" />
                        </button>
                    </div>
                    <div class="button-cont">
                        <button id="settingsButton" class="button-settings">
                            <img id="tabs-img" src="~/assets/settings.png" />
                        </button>
                    </div>
                    <div class="button-cont">
                        <button id="saveButton" class="button-save">
                            <img id="tabs-img" src="~/assets/save.png" />
                        </button>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </div>

    <div class="right-panel" id="dynamic-content">
        <div class="grid-rows">
            <div class="@("row-n" + (Model.IsCorrectDeal ? " has-handsuits" : " no-handsuits"))">
                <div>
                    <button id="playButton">
                        <img id="arrow-img" src="~/assets/arrow-white.png" />
                    </button>
                </div>
                <div class="hands">
                    @if (Model.IsCorrectDeal)
                    {
                        await Html.RenderPartialAsync("Hand", Model.Deal.North); 
                    }
                    else
                    {
                        <div></div>
                        <div></div>
                        <div></div>
                        <div>
                            Press
                            <img id="play-img" src="~/assets/arrow-white.png" />
                            to generate an example.
                        </div>
                    }
                </div>
                <div>
                    @if (Model.IsErrorInput)
                    {
                        <button class="compile-error-button visible" id="errorButton">
                            <span class="error-font">ERROR</span><br>
                            <span class="logs-font">see logs</span>
                        </button>
                    }
                    @if (Model.Tries != string.Empty)
                    {
                        if (!Model.IsCorrectDeal)
                        {
                            <div># of tries: @Model.Tries</div>
                        }
                    }
                </div>
            </div>
            <div>
                <div class="row-mid">
                    <div class="aligning-cells">
                        <div></div>
                        <div class="hands">
                            @if (Model.IsCorrectDeal)
                            {
                                await Html.RenderPartialAsync("Hand", Model.Deal.West);
                            }
                        </div>
                    </div>

                    @await Html.PartialAsync("Compass")
                    
                    <div class="hands">
                        @if (Model.IsCorrectDeal)
                        {
                            await Html.RenderPartialAsync("Hand", Model.Deal.East);
                        }
                    </div>
                </div>
            </div>
            <div>
                <div class="row-s">
                    <div></div>
                    <div class="hands">
                        @if (Model.IsCorrectDeal)
                        {
                            await Html.RenderPartialAsync("Hand", Model.Deal.South);
                        }
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>
