@model BridgeScenarios.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/buttons.css"/>
    <link rel="stylesheet" href="~/css/dialog.css"/>
    <link rel="stylesheet" href="~/css/highpriority.css"/>
</head>

<div class="page-layout">
    <div class="left-panel">
        @{
            await Html.RenderPartialAsync("LeftSideView", Model);
        }
    </div>
    <div id="right-partial">
        @{
            await Html.RenderPartialAsync("RightSideView", Model);
        }
    </div>
</div>

@{
    await Html.RenderPartialAsync("RightSide/DialogWindowView", Model);
}

<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/dealset.js"></script>
<script type="text/javascript" src="/js/rightside.js"></script>
<script type="text/javascript" src="/js/leftside.js"></script>
<script type="text/javascript" src="/js/buttons/buttons.js"></script>
<script type="text/javascript" src="/js/buttons/dealbuttons.js"></script>
<script type="text/javascript" src="/js/buttons/tabbuttons.js"></script>
<script type="text/javascript" src="/js/buttons/dialog.js"></script>
<script type="text/javascript" src="/js/buttons/errorbuttons.js"></script>
