@model BridgeScenarios.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/rightsideview.css"/>
    <link rel="stylesheet" href="~/css/leftsideview.css"/>
    <link rel="stylesheet" href="~/css/errorview.css"/>
    <link rel="stylesheet" href="~/css/entryview.css"/>
    <link rel="stylesheet" href="~/css/exampleview.css"/>
    <link rel="stylesheet" href="~/css/dealset.css"/>
</head>

<div class="page-layout">
    <div class="left-panel">
        @{
            await Html.RenderPartialAsync("LeftSideView", Model);
        }
    </div>
    <div id="right-partial">
        @{
            await Html.RenderPartialAsync("RightSideView", Model);
        }
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>