@model BridgeScenarios.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/buttons.css"/>
    <link rel="stylesheet" href="~/css/dialog.css"/>
    <link rel="stylesheet" href="~/css/highpriority.css"/>
</head>

<div id="page-layout" class="page-layout">
    <div id="left-partial" class="left-panel">
        @{
            await Html.RenderPartialAsync("LeftSideView", Model);
        }
    </div>
    <div class="divider">

    </div>
    <div id="right-partial">
        @{
            await Html.RenderPartialAsync("RightSideView", Model);
        }
    </div>
</div>

@{
    await Html.RenderPartialAsync("RightSide/DialogWindowView", Model);
}

<script type="text/javascript" src="/js/scenarios/main.js"></script>
<script type="text/javascript" src="/js/scenarios/divider.js"></script>
<script type="text/javascript" src="/js/scenarios/dealset.js"></script>
<script type="text/javascript" src="/js/scenarios/rightside.js"></script>
<script type="text/javascript" src="/js/scenarios/leftside.js"></script>
<script type="text/javascript" src="/js/buttons.js"></script>
<script type="text/javascript" src="/js/scenarios/buttons/dealbuttons.js"></script>
<script type="text/javascript" src="/js/scenarios/buttons/tabbuttons.js"></script>
<script type="text/javascript" src="/js/scenarios/buttons/errorbuttons.js"></script>