.saved-content-container {
    background-color: var(--main-background-color);
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: var(--main-font-color);
    padding: var(--main-padding-top) 0 0 var(--main-padding-left);
}