<div class="grid-snwe">
    <div class="snwe-lu"></div>
    <div id="N-vul" class="snwe-mu nvul">N</div>
    <div class="snwe-ru"></div>
    <div id="W-vul" class="snwe-lm nvul">W</div>
    <div class="table-num-or-spinner">
        <div id="spinner" class="compass-spiner-container snwe-mm" style="display:none;">
            <div class="spinner-container">
                <div class="loader">
                    <img id="loading-img" src="~/assets/loading-simp.png"
                         alt="Randomly Oriented Image"/>
                    <script type="text/javascript" src="/js/spinner.js"></script>
                </div>
            </div>
        </div>
        <div id="table-num">
            1
        </div>
    </div>
    <div id="E-vul" class="snwe-rm nvul">E</div>
    <div class="snwe-ld"></div>
    <div id="S-vul" class="snwe-md nvul">S</div>
    <div class="snwe-rd"></div>
</div>