<div class="grid-snwe">
    <div class="snwe-lu"></div>
    <div id="N-vul" class="snwe-mu">N</div>
    <div class="snwe-ru"></div>
    <div id="W-vul" class="snwe-lm">W</div>
    <div class="compass-spiner-container snwe-mm">
        <div id="spinner" class="spinner-container" style="display:none;">
            <div class="loader">
                <img id="loading-img" src="~/assets/loading-simp.png"
                     alt="Randomly Oriented Image"/>
                <script type="text/javascript" src="/js/spinner.js"></script>
            </div>
        </div>
    </div>
    <div id="E-vul" class="snwe-rm">E</div>
    <div class="snwe-ld"></div>
    <div id="S-vul" class="snwe-md">S</div>
    <div class="snwe-rd"></div>
</div>