Tu będzie wyświetlony wygenerowany deal set (żeby można było go przeglądnąć, coś usunąć itp)

<div class="button-cont">
    <button id="saveButton" class="button-save">
        <img id="tabs-save" class="tabs-img" src="~/assets/save.png"/>
    </button>
</div>