<link rel="stylesheet" href="~/css/rightside/dealset.css"/>

<div class="right-view-container">
    <div class="right-view-buttons">
        <div class="generate-button-container">
            <button id="generateExampleButton" class="button-all generate-button generate-example-button">
                GENERATE EXAMPLE
            </button>
        </div>
        <div class="generate-button-container">
            <button id="generateDealSetButton" class="button-all generate-button generate-dealset-button">
                GENERATE DEAL SET
            </button>
        </div>
    </div>
    <div>
        <div class="grid-rows">
            <div class="row-n">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row-mid-deal-entry">
                <div></div>
                <div>
                    <div class="message-and-spinner">
                        <div class="entry-message" id="entry-message">
                            Set of 
                            <div id="entryNumOfDeals" style="display: inline"></div> 
                            deals generated.<br/>Press
                            <img class="dealset-img-entry" src="~/assets/arrow.png"/>
                            too see the deals<br/>
                            or 
                            <img class="dealset-img-entry" src="~/assets/save.png"/> 
                            to save the set.
                        </div>
                        <div id="spinner" class="spinner-container" style="display:none;">
                            <div class="loader">
                                <img id="loading-img" src="~/assets/loading-simp.png"
                                     alt="Randomly Oriented Image"/>
                                <script type="text/javascript" src="/js/spinner.js"></script>
                            </div>
                        </div>
                    </div>
            </div>
                <div></div>
            </div>
            <div class="row-s">
                <div></div>
                <div></div>
                <div>
                    <div class="deal-in-set-buttons-container">
                        <div></div>
                        <div class="dealset-upper-row-entry">
                            <div></div>
                            <div></div>
                            <div class="deaslset-button-container">
                                <button id="nextDealButton"
                                        class="button-all deal-set-button">
                                    <img class="dealset-img" src="~/assets/arrow.png"/>
                                </button>
                            </div>
                        </div>
                        <div class="dealset-lower-row">
                            <div></div>
                            <div></div>
                            <div class="deaslset-button-container">
                                <button id="saveButton" class="button-all deal-set-button">
                                    <img class="dealset-img" src="~/assets/save.png"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>