<link rel="stylesheet" href="~/css/rightside/dealset.css"/>

<div class="right-view-container">
    <div class="right-view-buttons">
        @{
            await Html.RenderPartialAsync("RightSide/RightSideGenerateButtons");
        }
    </div>
    <div>
        <div class="grid-rows">
            <div class="row-n">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row-mid-deal-entry">
                <div></div>
                <div>
                    <div class="message-and-spinner">
                        <div class="entry-message" id="entry-message">
                            Set of 
                            <div id="entryNumOfDeals" style="display: inline"></div> 
                            deals generated.<br/>Press
                            <img class="dealset-img-entry" src="~/assets/arrow.png"/>
                            too see the deals<br/>
                            or 
                            <img class="dealset-img-entry" src="~/assets/download-1.png"/>
                            to download the set.
                        </div>
                        <div id="spinner" class="spinner-container" style="display:none;">
                            <div class="loader">
                                <img id="loading-img" src="~/assets/loading-simp.png"
                                     alt="Randomly Oriented Image"/>
                                <script type="text/javascript" src="/js/spinner.js"></script>
                            </div>
                        </div>
                    </div>
            </div>
                <div></div>
            </div>
            <div class="row-s">
                <div class="right-side-bottom-left-corner">
                    <div></div>
                    <div></div>
                    <div class="toggle-view-container">
                        <div class="toggle-view-container-right">
                            <button id="toggle-view"
                                    class="toggle-button toggle-button-right" 
                                    onclick="toggleView()">EDIT CONSTRAINTS</button>
                        </div>
                    </div>
                </div>
                <div></div>
                <div>
                    <div class="deal-in-set-buttons-container">
                        <div></div>
                        <div class="dealset-upper-row-entry">
                            <div></div>
                            <div></div>
                            <div class="deaslset-button-container">
                                <button id="nextDealButton"
                                        class="button-all deal-set-button">
                                    <img class="dealset-img" src="~/assets/arrow.png"/>
                                </button>
                            </div>
                        </div>
                        <div class="dealset-lower-row">
                            <div></div>
                            <div></div>
                            <div class="deaslset-button-container">
                                <button id="saveButton" class="button-all deal-set-button">
                                    <img class="dealset-img" src="~/assets/download-1.png"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>