@model BridgeScenarios.Models.ViewModels.IndexViewModel
<div class="grid-rows">
    <div class="row-n has-handsuits">
        <div>
            <div class="deal-number-info">
                @{
                    <div>Deal @Model.ScriptOutputInfo.DealNumber / @Model.ScriptOutputInfo.NumberOfDeals</div>
                }
            </div>
        </div>
        <div class="hands">
            @{
                await Html.RenderPartialAsync("Hand", Model.Deal.North);
            }
        </div>
        <div>
        </div>
    </div>
    <div>
        <div class="row-mid">
            <div class="align-hand-west">
                <div></div>
                <div class="hands hand-west">
                    @{
                        await Html.RenderPartialAsync("Hand", Model.Deal.West);
                    }
                </div>
            </div>

            @await Html.PartialAsync("Compass")

            <div class="hands">
                @{
                    await Html.RenderPartialAsync("Hand", Model.Deal.East);
                }
            </div>
        </div>
    </div>
    <div>
        <div class="row-s">
            <div class="num-of-tries">
                @{
                    <div># of tries: @Model.Tries</div>
                }
            </div>
            <div class="hands">
                @{
                    await Html.RenderPartialAsync("Hand", Model.Deal.South);
                }
            </div>
            <div>
                <div class="deal-in-set-buttons-container">
                    <div class="dealset-upper-row">
                        <div class="deaslset-button-container">
                            @* If Model.DealSetInfo.DealNumber == NumberOfDeals, set class to deactivated *@
                            <button id="previousDealButton"
                                    class="button-all deal-set-button 
                                    @if (Model.ScriptOutputInfo.DealNumber == 1) 
                                    { <text>deactivated</text> }" >
                                <img class="dealset-img" src="~/assets/arrow-back.png"/>
                            </button>
                        </div>
                        <div class="deaslset-button-container">
                            <button id="nextDealButton"
                                    class="button-all deal-set-button 
                                    @if (Model.ScriptOutputInfo.DealNumber == Model.ScriptOutputInfo.NumberOfDeals) 
                                    { <text>hidden deactivated</text> }" >
                                <img class="dealset-img" src="~/assets/arrow.png"/>
                            </button>
                            
                            <button id="addDealButton" 
                                    class="button-all deal-set-button
                                    @if (Model.ScriptOutputInfo.DealNumber < Model.ScriptOutputInfo.NumberOfDeals) 
                                    { <text>hidden</text> }"                                    
                                    >
                                <img class="dealset-img" src="~/assets/plus.png"/>
                            </button>
                        </div>
                    </div>
                    <div class="dealset-lower-row">
                        <div class="deaslset-button-container">
                            <button id="saveButton" class="button-all deal-set-button">
                                <img class="dealset-img" src="~/assets/save.png"/>
                            </button>
                        </div>
                        <div class="deaslset-button-container">
                            <button id="retryButton" class="button-all deal-set-button">
                                <img class="dealset-img" src="~/assets/retry.png"/>
                            </button>
                        </div>
                        <div class="deaslset-button-container">
                            
                            <button id="trashButton"
                                    class="button-all deal-set-button red-button">
                                <img class="dealset-img" src="~/assets/trash.png"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>