<link rel="stylesheet" href="~/css/scenarios/rightside/dealset.css"/>

<div class="right-view-container">
    <div class="right-view-buttons">
        @{
            await Html.RenderPartialAsync("RightSide/RightSideGenerateButtons");
        }
    </div>
    <div class="dealsetonedeal">
        @{
            await Html.RenderPartialAsync("RightSide/DealSetOneDeal");
        }
    </div>
</div>