@model BridgeScenarios.Models.ViewModels.IndexViewModel
<div class="grid-rows">
    <div class="row-n has-handsuits">
        <div>
        </div>
        <div class="hands">
            @{
                await Html.RenderPartialAsync("Hand", Model.Deal.North);
            }
        </div>
        <div>
        </div>
    </div>
    <div>
        <div class="row-mid">
            <div class="aligning-cells">
                <div></div>
                <div class="hands">
                    @{
                        await Html.RenderPartialAsync("Hand", Model.Deal.West);
                    }
                </div>
            </div>

            @await Html.PartialAsync("Compass")

            <div class="hands">
                @{
                    await Html.RenderPartialAsync("Hand", Model.Deal.East);
                }
            </div>
        </div>
    </div>
    <div>
        <div class="row-s">
            <div class="num-of-tries">
                @{
                    <div># of tries: @Model.Tries</div>
                }
            </div>
            <div class="hands">
                @{
                    await Html.RenderPartialAsync("Hand", Model.Deal.South);
                }
            </div>
            <div>
                <div class="deal-in-set-buttons-container">
                    <div>
                        <button id="previousDealButton" class="deal-set-button">
                            <img class="dealset-img" src="~/assets/arrow-back.png"/>
                        </button>
                    </div>
                    <div>
                        <button id="nextDealButton" class="deal-set-button">
                            <img class="dealset-img" src="~/assets/arrow.png"/>
                        </button>
                    </div>
                    <div>
                        <button id="saveButton" class="deal-set-button">
                            <img class="dealset-img" src="~/assets/save.png"/>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>