<div class="grid-rows">
    <div class="row-n has-handsuits">
        <div>
            <div id="deal-number-info" class="deal-number-info">
            </div>
        </div>
        <div class="hands hand-north">
            <div class="hand-north-align"></div>
            @{
                await Html.RenderPartialAsync("RightSide/Hand");
            }
        </div>
        <div class="num-of-tries-container">
            <div id="num-of-tries" class="num-of-tries">
            </div>
        </div>
    </div>
    <div>
        <div class="row-mid">
            <div class="align-hand-west">
                <div></div>
                <div id="hand-west" class="hands hand-west west-balanced">
                    @{
                        await Html.RenderPartialAsync("RightSide/Hand");
                    }
                </div>
            </div>

            @await Html.PartialAsync("RightSide/Compass")

            <div class="hands hand-east">
                @{
                    await Html.RenderPartialAsync("RightSide/Hand");
                }
            </div>
        </div>
    </div>
    <div>
        <div class="row-s">
            <div class="right-side-bottom-left-corner">
                <div></div>
                <div class="generate-button-container generate-add-button-cont">
                    <button id="addDealButton"
                            class="button-all generate-button deal-set-button">
                        ADD DEAL
                    </button>
                </div>
                <div class="toggle-view-container">
                    <div class="toggle-view-container-right">
                        <button id="toggle-view"
                                class="toggle-button toggle-button-right" 
                                onclick="toggleView()">EDIT CONSTRAINTS</button>
                    </div>
                </div>
            </div>
            <div class="hands hand-south">
                @{
                    await Html.RenderPartialAsync("RightSide/Hand");
                }
            </div>
            <div>
                <div class="deal-in-set-buttons-container">
                    <div></div>
                    <div class="dealset-upper-row">
                        <div class="deaslset-button-container">
                            <button id="previousDealButton"
                                    class="button-all deal-set-button">
                                <img class="dealset-img" src="~/assets/arrow-back.png"/>
                            </button>
                        </div>
                        <div class="deaslset-button-container">
                            <button id="nextDealButton"
                                    class="button-all deal-set-button">
                                <img class="dealset-img" src="~/assets/arrow.png"/>
                            </button>
                        </div>
                    </div>
                    <div class="dealset-lower-row">
                        <div class="deaslset-button-container">
                            <button id="saveButton" class="button-all deal-set-button">
                                <img class="dealset-img" src="~/assets/download-1.png"/>
                            </button>
                        </div>
                        <div class="deaslset-button-container">
                            <button id="retryButton" class="button-all deal-set-button">
                                <img class="dealset-img" src="~/assets/retry.png"/>
                            </button>
                        </div>
                        <div class="deaslset-button-container">
                            <button id="trashButton"
                                    class="button-all deal-set-button red-button trash-button">
                                        <img class="dealset-img" src="./assets/trash.png"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>