<link rel="stylesheet" href="~/css/rightside/errorview.css"/>

<div class="right-view-container">
    <div class="right-view-buttons">
        <div class="generate-button-container">
            <button id="generateExampleButton" class="button-all generate-button generate-example-button">
                GENERATE EXAMPLE
            </button>
        </div>
        <div class="generate-button-container">
            <button id="generateDealSetButton" class="button-all generate-button generate-dealset-button">
                GENERATE DEAL SET
            </button>
        </div>
    </div>
    <div class="message-and-spinner">
        <div class="entry-message" id="entry-message">
            An error occured. See 
            <div class="error-button-container">
                <button id="errorButton" class="error-button red-button">logs</button>
            </div> 
            for details.
        </div>
        <div id="spinner" style="display:none;">
            <div class="loader">
                <img id="loading-img" src="~/assets/loading-simp.png"
                     alt="Randomly Oriented Image"/>
                <script type="text/javascript" src="/js/spinner.js"></script>
            </div>
        </div>
    </div>
</div>

<div id="log-hidden-content" style="display: none;">
    <div class="log-view-container">
        <div class="logs-output">
            @if (Model.ScriptOutput != string.Empty)
            {
                <pre>@Model.ScriptOutput</pre>
            }
        </div>
        <div class="back-button-container">
            <button id="backButton" class="back-button">BACK</button>
        </div>
    </div>
</div>