@model BridgeScenarios.Models.ViewModels.IndexViewModel
<div class="right-view-container">
    <div class="right-view-buttons">
        <div class="generate-button-container">
            <button id="generateExampleButton" class="button-all generate-button generate-example-button">
                GENERATE EXAMPLE
            </button>
        </div>
        <div class="generate-button-container">
            <button id="generateDealSetButton" class="button-all generate-button generate-dealset-button">
                GENERATE DEAL SET
            </button>
        </div>
    </div>
    <div class="grid-rows">
        <div class="row-n has-handsuits">
            <div>
            </div>
            <div class="hands">
                @{
                    await Html.RenderPartialAsync("Hand", Model.Deal.North);
                }
            </div>
            <div>
            </div>
        </div>
        <div>
            <div class="row-mid">
                <div class="align-hand-west">
                    <div></div>
                    <div class="hands hand-west">
                        @{
                            await Html.RenderPartialAsync("Hand", Model.Deal.West);
                        }
                    </div>
                </div>

                @await Html.PartialAsync("Compass")

                <div class="hands">
                    @{
                        await Html.RenderPartialAsync("Hand", Model.Deal.East);
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="row-s">
                <div class="num-of-tries">
                    @{
                        <div># of tries: @Model.Tries</div>
                    }
                </div>
                <div class="hands">
                    @{
                        await Html.RenderPartialAsync("Hand", Model.Deal.South);
                    }
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
