<div class="right-view-container">
    <div class="right-view-buttons">
        @{
            await Html.RenderPartialAsync("RightSide/RightSideGenerateButtons");
        }
    </div>
    <div class="grid-rows">
        <div class="row-n has-handsuits">
            <div>
            </div>
            <div class="hands hand-north">
                <div class="hand-north-align"></div>
                @{
                    await Html.RenderPartialAsync("RightSide/Hand");
                }
            </div>
            <div>
            </div>
        </div>
        <div>
            <div class="row-mid">
                <div class="align-hand-west">
                    <div></div>
                    <div class="hands hand-west">
                        @{
                            await Html.RenderPartialAsync("RightSide/Hand");
                        }
                    </div>
                </div>

                @await Html.PartialAsync("RightSide/Compass")

                <div class="hands hand-east">
                    @{
                        await Html.RenderPartialAsync("RightSide/Hand");
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="row-s">
                <div id="num-of-tries" class="num-of-tries">
                </div>
                <div class="hands hand-south">
                    @{
                        await Html.RenderPartialAsync("RightSide/Hand");
                    }
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
