<div class="right-view-container">
    <div class="right-view-buttons">
        <div class="generate-button-container">
            <button id="generateExampleButton" class="button-all generate-button generate-example-button">
                GENERATE EXAMPLE
            </button>
        </div>
        <div class="generate-button-container">
            <button id="generateDealSetButton" class="button-all generate-button generate-dealset-button">
                GENERATE DEAL SET
            </button>
        </div>
    </div>
    <div class="grid-rows">
        <div class="row-n has-handsuits">
            <div>
            </div>
            <div class="hands hand-north">
                @{
                    await Html.RenderPartialAsync("RightSide/Hand");
                }
            </div>
            <div>
            </div>
        </div>
        <div>
            <div class="row-mid">
                <div class="align-hand-west">
                    <div></div>
                    <div class="hands hand-west">
                        @{
                            await Html.RenderPartialAsync("RightSide/Hand");
                        }
                    </div>
                </div>

                @await Html.PartialAsync("RightSide/Compass")

                <div class="hands hand-east">
                    @{
                        await Html.RenderPartialAsync("RightSide/Hand");
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="row-s">
                <div id="num-of-tries" class="num-of-tries">
                </div>
                <div class="hands hand-south">
                    @{
                        await Html.RenderPartialAsync("RightSide/Hand");
                    }
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
