<div class="suit">
    <div class="suit-spades">
    </div>
</div>
<div class="suit">
    <div class="suit-hearts">
    </div>
</div>
<div class="suit">
    <div class="suit-diamonds">
    </div>
</div>
<div class="suit">
    <div class="suit-clubs">
    </div>
</div>