<div class="suit">
    <img class="suit-img" src="~/assets/spade2.png"/>
    <div class="suit-spades">
    </div>
</div>
<div class="suit">
    <img class="suit-img" src="~/assets/heart2.png"/>
    <div class="suit-hearts">
    </div>
</div>
<div class="suit">
    <img class="suit-img" src="~/assets/diamond2.png"/>
    <div class="suit-diamonds">
    </div>
</div>
<div class="suit">
    <img class="suit-img" src="~/assets/club2.png"/>
    <div class="suit-clubs">
    </div>
</div>