<div class="suit">
    <img class="suit-img" src="~/assets/spade.png"/>
    <div class="suit-spades">
    </div>
</div>
<div class="suit">
    <img class="suit-img" src="~/assets/heart.png"/>
    <div class="suit-hearts">
    </div>
</div>
<div class="suit">
    <img class="suit-img" src="~/assets/diamond.png"/>
    <div class="suit-diamonds">
    </div>
</div>
<div class="suit">
    <img class="suit-img" src="~/assets/club.png"/>
    <div class="suit-clubs">
    </div>
</div>