<link rel="stylesheet" href="~/css/scenarios/rightside/generatebuttons.css"/>

<div class="generate-button-container generate-example-button-cont">
    <button id="generateExampleButton" class="button-all generate-button generate-example-button">
        GENERATE EXAMPLE
    </button>
</div>
<div class="generate-button-container generate-dealset-button-cont">
    <button id="generateDealSetButton" class="button-all generate-button generate-dealset-button">
        GENERATE DEAL SET
    </button>
</div>