.error-view-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
    width: 100%;
    height: 100%;
}

/* childs of error-view-container */
.error-view-container > div {
    width: 100%;
    height: 100%;
}

.error-view-buttons {
    display: grid;
    grid-template-columns: 40% 40% 10%;
}

.error-view-buttons > div {
    padding: 3%;
}

#generateExampleButton {
    width: 100%;
}

#generateDealSetButton {
    width: 100%;
}

