.right-view-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    width: 100%;
    height: 100%;
}

.right-view-buttons {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 40% 10%;
}

.right-view-buttons > div {
    padding: 3%;
    padding-top: 5%;
}
