:root {
  --main-font-color: rgb(255, 235, 235);
  --suit-cards-font-size: calc(0.3em + min(2.5vh, 1.5vw));
  --button-w: calc(0.3em + 7vw);
  --button-h: calc(0.3em + 8vh);
}

html, body {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

.page-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;

}

.left-panel {
  background-color: rgb(94, 94, 94);
  display: flex;
  flex-direction: column;
  border: none;
  background: rgb(88,88,88);
  background: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(88,88,88,1) 99%, rgb(114, 114, 114) 100%); 
}

.right-panel {
  background-color: rgb(94, 94, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background: rgb(88,88,88);
}

.left-panel, .right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input-section h4 {
  margin-bottom: 10px;
  color: var(--main-font-color);
  font-weight: 800;

}

.input-section form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 95%;
  height: 100%;
  flex: 1;
  resize: none;
  overflow: auto;
  margin-bottom: 10px;
  background-color: rgb(63, 63, 63);
  color: var(--main-font-color);
  font-size: calc(0.1em + min(3.5vh, 1.5vw));
  outline: none;
  border: none;
  padding: 5pt;
  padding-left: 10pt;
}

textarea:focus {
  outline: none;
  border: none;
}

.grid-rows {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 30% auto;
}

.row-n {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 23% auto 23%;
  grid-template-rows: auto;
}

.row-n.has-handsuits {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 37% 40% auto;
  grid-template-rows: auto;
}

.row-n.has-handsuits > div:nth-child(2) {
  padding: 5%;
  display: flex;
  align-items: flex-end;
  text-align: left;
  font-size: var(--suit-cards-font-size);
}

.row-n > div:nth-child(1) {
  padding: 10pt;
  padding-left: 20pt;
  display: flex;
  place-items: start;
  font-size: large;
}

.row-n > div:nth-child(2) {
  padding: 5%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: calc(0.3em + min(3vh, 1vw));
}

.row-mid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 38% auto 38%;
  grid-template-rows: auto;
  place-items: start;
  align-items: flex-start;
}

.aligning-cells {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
}

.aligning-cells > div:nth-child(2) {
  display: flex;
  padding-right: 15pt;
  text-align: left;
  place-items: center;
}

.row-s {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 37% 40% auto;
  grid-template-rows: auto;
}

.row-s > div:nth-child(2) {
  padding: 5%;
  display: flex;
  text-align: left;
}

.row-n > div:nth-child(3) {
  padding: 10%;
  padding-right: 7%;
  display: flex;
  flex-direction: column;
  color: var(--main-font-color);
  font-weight: 700;
  text-align: left;
}

.row-mid > div:nth-child(3) {
  width: 100%;
  height: 100%;
  padding-left: 15pt;
  display: flex;
  padding-right: 7pt;
  text-align: left;
  place-items: center;
}

.grid-snwe {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 40% auto;
  grid-template-rows: auto 40% auto;
  border: 5px solid rgb(126, 126, 126);
  place-items: center;
  font-size: calc(0.1em + min(4vh, 2vw));
  font-weight: 800;
  color:var(--main-font-color);
}

#playButton {
  width: 50px;
  height: 50px;
  color: var(--main-font-color);
  padding: 5px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 10px;
  border:rgb(158, 157, 157);
  background:rgb(116, 116, 116);
  box-shadow: 0 5px #686767;
}
#playButton:hover {
  background:rgb(158, 157, 157);
  color: #474646;
  top: 1px;
}

#playButton:active {
  top: 5px;
}

#arrow-img {
  width: 40px;
}

#play-img {
  padding-bottom: 2pt;
  width: 20px
}

#suit-img {
  width: 30px;
  display: block;
  clear: both;
  padding-right: 5px;
  padding-bottom: 3px;
}

.hands {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--suit-cards-font-size);
  color:var(--main-font-color);
  font-weight: 800;
}

.row-mid .hands > div:nth-child(1) {
  padding-top: 5pt;
}

.row-n > .hands > div:nth-child(1) {
  height: 100%;
}

.suit {
  width: 100%;
  text-align: left;
  display: flex;
  place-items: flex-end;
}

.loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading-img {
  display: block;
  width: 25px;
  transform-origin: center;
}

.compile-error-button {
  padding: 8px 16px;
  margin-top: 10px;
  background-color: rgb(205, 32, 31);
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  width: var(--button-w);
  height: var(--button-h);
}

.compile-error-button:hover {
  background-color: rgb(143, 21, 21);
}

.compile-error-button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.compile-error-button.visible {
  display: block;
}

.error-font {
  font-size: calc(0.1em + min(2.5vh, 1.5vw));
}

.logs-font {
  font-size: calc(0.1em + min(2vh, 1vw));
}

.error-font, .logs-font {
  line-height: 1.2;
  display: block;
  margin: 0;
  padding: 0;
}

.compile-error-button br {
  display: none;
}
