:root {
    /*--main-font: calc(1.6vmax);*/
    --main-font: calc(min(1.7rem, calc(1.6vmax)));
    --main-background-color: rgb(88, 88, 88);
    --main-font-color: rgb(255, 235, 235);
    /*--suit-cards-font-size: calc(0.3em + min(2.5vh, 1.5vw));*/
    /*--code-font-size: calc(0.1em + min(3.5vh, 1.5vw));*/
    --code-font-size: calc(min(3rem, calc(1.6vmax)));
    --input-line-height: calc(1.2em);
    --max-box-height: calc(77vh);
    --input-box-height: calc(16 * (var(--input-line-height) + 0.77em));
    --button-face-color: rgb(116, 116, 116);
    --button-shadow: rgb(68, 68, 68);
    --button-hover: rgb(138, 138, 138);
    --text-area-background-color: rgb(63, 63, 63);
    --button-face-deactiv: var(--button-face-color);
    --button-active: var(--button-hover);
    --tabs-img-size: calc(0.3em + min(3.5vh, 1.5vw));
    --line-numbers-width: calc(2.0em + 0.07vw);
    --font-deactiv: rgb(88, 88, 88);
    --generate-button-border: rgb(158, 157, 157);
    --root-background-color: rgb(94, 94, 94);
    --diamond-color: darkgoldenrod;
    --color-error: rgb(107, 12, 12);
}

html, body {
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

.page-layout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
}

.header {
    padding: 3pt 3pt 3pt 1.5%;
    background: rgb(77, 77, 77);
}

/* -------------- loading circle ------------- */

.loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loading-img {
    display: block;
    width: 25px;
    transform-origin: center;
}

.spinner-container {
    width: 25px;
    height: 25px;
}

.save-spinner-container {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

