.left-panel {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    border: none;
}

.div-test { /* TO-BE-DELETED */
    height: var(--main-font);
    width: var(--main-font);
    background-color: #d63384;
    display: inline-block;
}

/* -------------- left switches --------------- */

.left-switches {
    height: 100%;
    display: grid;
    grid-template-columns: auto 12% 12% 12% 12%;
    grid-template-rows: auto;
    padding: 0 0 var(--main-font) 0;
}

.button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(max((var(--main-font) * 3), 6vh));
    width: 100%;
    padding: 0 0 0 calc(max((var(--main-font) * 0.3), 0.5vh));
}

.button-tab {
    border-radius: 0 0 calc(max((var(--main-font) / 2), 2vh)) calc(max((var(--main-font) / 2), 2vh));
}

.button-tab:hover {
    top: 0;
}

.button-tab:active {
    background-color: var(--button-active);
    box-shadow: 0 2px var(--button-shadow);
    cursor: default;
    transform: translateY(0);
}

.button-active-tab {
    background-color: var(--button-active);
    box-shadow: 0 calc(max(var(--main-font) / 8, 0.1vh)) var(--button-shadow);
    cursor: default;
}

.button-active-tab:hover {
    top: 0;
    cursor: default;
}

.tabs-img {
    width: var(--tabs-img-size);
}

/*--------- left side layout ------------*/

.left-side-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 
            min(max(calc(var(--main-font) * 3), 5vh), 5vw) 
            calc(min(calc(70vh - 5 * var(--main-font)), 2600px));
            calc(max((var(--main-font) * 4), 8vh));
    padding: 0 min(max(calc(var(--main-font)), 4vh), 4vw) 0 0;
}

.left-side-padding {
    padding-left: var(--main-padding-left);
    padding-top: var(--main-padding-top);
    padding-bottom: calc(var(--main-font));
    height: 100%;
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 100%;
}

.left-side-title {
    height: 100%;
    width: 100%;
    font-size: min(max(calc(var(--main-font) * 1.8), 3vh), 3vw);
    font-weight: 500;
    color: var(--main-font-color);
}

.editor-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.editor {
    display: flex;
    font-family: monospace;
    height: 100%;
}

.lines {
    background: var(--line-numbers-background-color);
    white-space: pre;
    line-height: min(max(calc(var(--main-font) * 1.5), 4.2vh), 100px);
    font-size: var(--code-font-size);
    padding:    calc(max(calc(var(--main-font) * 0.2), 0.4vh))
                calc(max(calc(var(--main-font) * 0.2), 0.4vh))
                0
                calc(max(calc(var(--main-font) * 0.2), 0.4vh));
    width: min(max(calc(var(--main-font) * 1.7), 4.4vh), 120px);
    text-align: right;
}

.lines-to-do {
    background: var(--line-numbers-background-color);
    line-height: min(max(calc(var(--main-font) * 1.5), 4.2vh), 100px);
    font-size: var(--code-font-size);
    padding: 0;
    width: min(max(calc(var(--main-font) * 1.7), 4.4vh), 120px);
    color: var(--main-font-color);
    height: 100%;
    overflow: hidden;
}

.input-textarea {
    background-color: var(--text-area-background-color);
    border: none;
    resize: none;
    overflow: hidden;
    height: auto;
    width: 100%;
    font-family: monospace;
    box-sizing: border-box;
    outline: none;
    line-height: min(max(calc(var(--main-font) * 1.4), 4.2vh), 100px);
    font-size: var(--code-font-size);
    color: var(--main-font-color);
    padding: calc(var(--main-font) * 0.2) 0 0 min(max(calc(var(--main-font) * 1), 1vh), 1vw);
}

.active-line {
    color: var(--main-font-color);
}

.inactive-line {
    color: #888;
}

/* -------------------------------------------- */

.left-container-switches {
    padding: 0;
    height: 100%;
    width: 100%;
}

.left-container-inner-content {
    padding: 0;
    height: 100%;
    width: 100%;
}

.left-side-black-container {
    background-color: var(--line-numbers-background-color);
    color: var(--main-font-color);
    font-family: var(--bs-body-font-family);
    overflow: auto;
}

.left-side-inner-container {
    font-size: var(--code-font-size);
    height: calc(min(calc(70vh - 5 * var(--main-font)), 2600px));
    padding: 3% 5% 5%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}