.lightbulb-container {
    background-color: var(--line-numbers-background-color);
    height: 100%;
    width: 100%;
    color: var(--main-font-color);
    font-size: var(--code-font-size);
    padding-top: calc(max(calc(var(--main-font) * 0.2), 0.4vh));
    padding-left: min(max(calc(var(--main-font) * 1.7), 4.4vh), 120px);
    overflow: auto;
}
