.save-message {
    color: var(--main-font-color);
    display: none;
}

.saving-textarea {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    border: none;
    resize: none;
    overflow: hidden;
    height: var(--select-box-height);
    width: 90%;
    box-sizing: border-box;
    outline: none;
    font-size: calc(2 * var(--select-box-height) / 5);
    padding: calc(var(--select-box-height) / 5);
}

.save-couple {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto;
    height: var(--select-box-height);
    padding-bottom: calc(1.5 * var(--select-box-height));
}

.save-content-button {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    border: 0;
    border-radius: calc(1 * var(--select-box-height) / 8);
    display: block;
    width: 80%;
    font-size: calc(2 * var(--select-box-height) / 5);
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .1s ease;
}

.save-content-button:hover {
    transition: all .1s ease;
    background-color: var(--background-header-color);
}

.save-content-button:disabled, .save-content-button[disabled] {
    cursor: default;
    background-color: rgba(88, 88, 88, 0.7);
    color: var(--main-font-color);
    transition: none;
    transform: none;
}