@page
@model BridgeScenarios.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4>Enter Script Parameters:</h4>

    <form method="post">
        <input 
            type="text" 
            asp-for="TextInput" 
            placeholder="Enter text here" 
            style="width: 1000px;height: 100px;" 
        />
        <button type="submit">Run Script</button>
    </form>

    @if (Model.ScriptOutput != null)
    {
        <pre>@Model.ScriptOutput</pre>
    }
</div>
